
/*! [mat-hotfix v2.0] small visual fixes */
#pm-opacity .lm-val{ display:inline-block; min-width:3ch; text-align:right; opacity:.9 }
#pm-opacity .ghost, #pm-opacity .dup, #pm-opacity .lm-ghost{ display:none !important }
